<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="kugouflaskcgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\soft\python36\python.exe|d:\soft\python36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
		<security> 
			<requestFiltering allowDoubleEscaping="true"></requestFiltering> 
		</security>
        <httpProtocol>
            <customHeaders>
                <add name="想爬我?" value="没门儿" />
            </customHeaders>
        </httpProtocol> 
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="untitled.app" />
		<add key="PYTHONPATH" value="~/" />
	</appSettings>
</configuration>