<!DOCTYPE html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>正在播放：{{context.0}}</title>
<style type="text/css">body, html, iframe {
            background: #000;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }</style>
<link rel="Shortcut Icon" href="../static/favicon.ico" />
</head>
<body><iframe id="iframepage" allowFullScreen=ture marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="http://www.36605558.com/index.php?url={{context.1}}" height="100%" width="100%"></iframe>
</body>
</html>