<!DOCTYPE HTML>
<html>
	<head>
		<title>关于我</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/aboutassets/css/main.css" />
		<link rel="Shortcut Icon" href="../static/favicon.ico" />
		<noscript><link rel="stylesheet" href="../static/aboutassets/css/noscript.css" /></noscript>
								<!-- Scripts -->
		<script src="../static/aboutassets/js/jquery.min.js"></script>
		<script src="../static/aboutassets/js/skel.min.js"></script>
		<script src="../static/aboutassets/js/main.js"></script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">我 是 谁</h1>
									<p style="font-size:18px">就是那种完全不起眼，丢到人堆里谁也不认识的人；总结起来就是：家穷、人丑、还是农村户口。</p>
									<!--<ul class="actions">
										<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>-->
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="../static/aboutimages/xlg.png" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">技能特长</h2>
									<p style="18px">精通C/C++、JAVA、C#、PHP、PYTHON等编程语言，熟悉mysql、mssql、oracle等关系型数据库，熟悉mongodb、redis等非关系型数据库；熟悉js、jquery、css、html等web前端技术，对编程具有较好的理解及浓厚的兴趣。本人自出道以来，日均代码量上万行，电脑已报废数十台，键盘已敲坏N个，手指已敲断两根，代码总量加起来可绕地球三圈；还有最后一点就是爱吹牛逼。。。</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="../static/aboutimages/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">工作经验</h2>
									<p style="font-size:18px">7年数据库开发经验</br>3年软件实施经验</br>4年系统及数据运维经验</br>1年数据抓取及清洗经验</p>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										<li><span class="icon fa-diamond"><span class="label">Lorem</span></span></li>
										<li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
										<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
										<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
										<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
									</ul>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">部分项目</h2>
									<p style="font-size:20px">保密系统开发</br>OA自动化办公系统开发</br>crm客户管理系统开发</br>移民业务系统开发</br>音乐下载系统开发</br>现主攻python爬虫、数据分析人工智障等</p>
								</div>
							</section>
						<!-- Panel (Spotlight) -->
						<section class="panel color4-alt">
								<div class="intro color4">
									<h2 class="major">兴趣爱好</h2>
									<p style="font-size:20px">吟诗、打DOTA、逛1024。</p>
								</div>
							</section>							
					<!-- Panel -->
							<section class="panel color4-alt">
								<div class="intro color4">
									<h2 class="major">联系方式</h2>
									<p style="font-size:20px">不给，怕挨打。</p>
								</div>
							</section>
			</div>
	</body>
</html>