<!DOCTYPE html>
<html>
	<head>
		<title>欢迎访问C哥娱乐视听网-免费音乐下载 优酷爱奇艺等会员视频免费看 bt种子搜索下载 python编程 python爬虫 交友</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="keywords" content="C哥,CDD,python编程,爬虫,免费音乐下载,优酷会员视频免费看,爱奇艺会员视频免费看,交友,python,python基础" />
		<meta name="Description" content="C哥,CDD,python编程,爬虫,免费音乐下载,优酷会员视频免费看,爱奇艺会员视频免费看,交友,python,python基础" />
		<!-- Fonts-->
		<link rel="Shortcut Icon" href="../static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../static/assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../static/assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" id="app-stylesheet" href="../static/assets/css/main.css">
		<link rel="stylesheet" type="text/css" id="app-stylesheet" href="../static/mzsm.css">
	    <script>
        window.onload = function() {
			if (navigator.userAgent.indexOf('Firefox') >= 0 || navigator.userAgent.indexOf('Chrome') >= 0) {	
			} 
			else{
			if (window.applicationCache) {
            } else {
                document.write("<h3 style='font-family:微软雅黑;'>你的浏览器版本过低或使用了兼容模式，请升级浏览器或使用极速模式！</h3>");
				setTimeout("location.href='http://browsehappy.osfipin.com/'",3000);
            }
        }
		}
    </script>
	</head>
	
	<body>
		<div class="page-wrap" id="root">
			
			<!-- header -->
			<header class="header header--fixed">
				<div class="header__inner">
					<div class="header__logo"><a href="./"><img src="../static/assets/img/logo.png" alt="" style="width:220px;" /></a></div>
					<div class="navbar-toggle" id="fs-button">
						<div class="navbar-icon"><span></span></div>
					</div>
				</div>
				
				<!-- fullscreenmenu__module -->
				<div class="fullscreenmenu__module" trigger="#fs-button">
					
					<!-- overlay-menu -->
					<nav class="overlay-menu">
						
						<!--  -->
						<ul class="wil-menu-list">
							<li><a href="./spider" target="_blank">Python编程</a>
							</li>
							<li><a href="./joke" target="_blank">内涵娱乐搞笑</a>
							</li>
							<li><a href="./music" target="_blank">免费音乐下载</a>
							</li>
							<li><a href="./freemovie" target="_blank">免费电影在线观看</a>
							</li>
							<li><a href="./bt" target="_blank">BT种子资源搜索</a>
							</li>
							<li><a href="./juanzeng" target="_blank">捐赠及留言</a>
							</li>
							<li>
							{% if user %}
							<a href="./user" target="_blank">欢迎：{{ user }}</a>
							{% else %}
							<a href="./login" target="_blank">登录注册</a>
							{% endif %}
							</li>
							<li><a href="./about" target="_blank">关于我</a>
							</li>
						</ul><!--  -->
						
					</nav><!-- End / overlay-menu -->
					
				</div><!-- End / fullscreenmenu__module -->
				
			</header><!-- End / header -->
			
			<!-- Content-->
			<div class="wil-content">

				
				
				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 ">
								
							</div>
						</div>
						<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
							<div class="grid__inner">
								<div class="grid-sizer"></div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./spider" target="_blank">
													
													<!-- hoverbox ef-slide-bottom -->
													<div class="hoverbox ef-move-left light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c1858d973cec.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">Python编程</h2><span class="work__text">python编程学习及交流，爬虫基础及分布式爬虫。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-bottom -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./joke" target="_blank">
													
													<!-- hoverbox ef-move-top -->
													<div class="hoverbox ef-move-top light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c18592261d25.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">内涵搞笑娱乐</h2><span class="work__text">不定时更新一期内涵、搞笑高清大图分享，各种段子只为博你一笑。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-move-top -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./music" target="_blank">
													
													<!-- hoverbox ef-slide-right -->
													<div class="hoverbox ef-move-right light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c18594e3ab62.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">免费音乐下载</h2><span class="work__text">海量高品质音乐免费无限试听下载，只需注册一个账号即可，还有定期新歌推荐。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-right -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./juanzeng" target="_blank">
													
													<!-- hoverbox ef-zoom-in -->
													<div class="hoverbox ef-zoom-in light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c185968e17ed.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">捐赠及留言</h2><span class="work__text">本网站免费提供音乐下载、视频观看服务，如果你觉得好，请考虑捐赠。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-zoom-in -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./freemovie" target="_blank">
													
													<!-- hoverbox ef-zoom-in -->
													<div class="hoverbox ef-zoom-in light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c1859774ac7e.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">免费电影在线观看</h2><span class="work__text">免费在线观看优酷、爱奇艺、腾讯、乐视、芒果vip会员视频，并且无广告，更有超高清电影下载。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-zoom-in -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./about" target="_blank">
													
													<!-- hoverbox ef-slide-right -->
													<div class="hoverbox ef-zoom-in light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c18599428639.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">关于我</h2><span class="work__text">一个普通的IT屌丝男，家穷、人丑、还是农村户口。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-right -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="./bt" target="_blank">
													
													<!-- hoverbox ef-slide-right -->
													<div class="hoverbox ef-move-bottom light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://i.loli.net/2018/12/18/5c1859ec5400d.jpg" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">BT种子资源搜索</h2><span class="work__text">网络bt资源搜索下载，涵盖电影、软件、音乐、文档等。</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-right -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<div class="row">
							<p class="footer__coppy">Copyright © 2018 CDDFUN(C哥娱乐视听网). All rights reserved. 
							{% if user %}
							<a href="./user" target="_blank">{{ user }}</a> 
							<a href="./logout">注销</a>
							{% else %}
							<a target="_blank" href="./login">登录</a> 
							<a target="_blank" href="./reg">注册</a>
							{% endif %}
							<a href="JavaScript:void(0)" onclick = "openDialog()">免责声明</a> <a href="JavaScript:void(0)" onclick = "openDialog1()">友情链接</a></p>
					</div>
				</div>
			</div><!-- End / footer -->
			
		</div>
		<div id="light" class="white_content">
            <h3>免责声明：</h3>
            <p>本站所有资源(图片、音乐、电影、BT种子)均来源于网络，仅提供索引搜索及下载服务，不会以任何形式存储文件。本站不保证搜索资源的正确性和合法性，需用户自行判定；
                图片上的文字及视频里面的文字观点均不代表本站的观点，与本站无关，请勿对号入座。本站所有资源权益归原作者所有，如你发现侵犯了你的权益，请及时联系本站处理。
                本站所有资源搜索及下载均免费，如你觉得本站可以，请考虑<a href="./juanzeng" target="_blank">捐赠</a>，相信有你的支持我们会变得更好。
            </p>
            <a href = "javascript:void(0)" onclick = "closeDialog()">关闭</a>
        </div>
        <div id="fade" class="black_overlay"></div>
		
		<div id="youqinglianjie" class="white_content">
            <h4>友情链接：</h4>
            <p><a href="http://www.djyao.net" target="_blank">Dj摇舞曲网</a> | <a href="https://001.io/" target="_blank">GuosenWang</a> | <a href="https://fountpark.com" target="_blank">FountPark</a>
            </p>
            <a href = "javascript:void(0)" onclick = "closeDialog1()">关闭</a> <a href="./juanzeng" target="_blank">点此申请</a>
        </div>
		<script type="text/javascript">
        $(function(){
        })
        function openDialog(){
            document.getElementById('light').style.display='block';
            document.getElementById('fade').style.display='block'
        }
        function closeDialog(){
            document.getElementById('light').style.display='none';
            document.getElementById('fade').style.display='none'
        }
		function openDialog1(){
            document.getElementById('youqinglianjie').style.display='block';
            document.getElementById('fade').style.display='block'
        }
        function closeDialog1(){
            document.getElementById('youqinglianjie').style.display='none';
            document.getElementById('fade').style.display='none'
        }
    </script>
		<!-- Vendors-->
		<script type="text/javascript" src="../static/assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/swiper/swiper.jquery.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/menu/menu.js"></script>
		<script type="text/javascript" src="../static/assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../static/assets/js/main.js"></script>
	</body>
</html>