<!DOCTYPE HTML>

<html>
	<head>
		<title>欢迎访问C哥的官方网站-免费音乐下载 交友 优酷、爱奇艺会员视频免费看 编程 python 爬虫</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keywords" content="C哥,CDD,python编程,爬虫,免费音乐下载,优酷会员视频免费看,爱奇艺会员视频免费看,交友,python,python基础" />
		<meta name="Description" content="C哥,CDD,python编程,爬虫,免费音乐下载,优酷会员视频免费看,爱奇艺会员视频免费看,交友,python,python基础" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<script src="../static/assets/js/jquery.min.js"></script>
		<script src="../static/assets/js/jquery.scrollex.min.js"></script>
		<script src="../static/assets/js/jquery.scrolly.min.js"></script>
		<script src="../static/assets/js/skel.min.js"></script>
		<script src="../static/assets/js/util.js"></script>
		<script src="../static/assets/js/main.js"></script>
	</head>
	<body class="landing">
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">欢迎来到我的个人网站</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>导航</span></a>
									<div id="menu">
										<ul>
											<li><a href="#">首页</a></li>
											<li><a target="_blank" href="./spider">python编程</a></li>
											<li><a target="_blank" href="./joke">内涵搞笑娱乐</a></li>
											<li><a target="_blank" href="./music">免费音乐下载</a></li>
											<li><a target="_blank" href="./freemovie">免费电影在线观看</a></li>
											<li><a target="_blank" href="./juanzeng">捐赠及留言</a></li>
											<li><a target="_blank" href="./about">关于我</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>欢迎访问C哥的官方网站</h2>
							<p><a target="_blank" href="./cg">独舟垂钓寒江上,鹅嬉鸟飞恐鱼惊;枯山飘渺云遮日,不谙人间红尘事。</a></p>
							<ul class="actions">
								<li><a target="_blank" href="./spider" class="button special">python编程</a></li>
								<li><a target="_blank" href="./joke" class="button special">内涵搞笑娱乐</a></li>
								<li><a target="_blank" href="./music" class="button special">免费音乐下载</a></li>
								<li><a target="_blank" href="./freemovie" class="button special">免费电影在线观看</a></li>
								<li><a target="_blank" href="./juanzeng" class="button special">捐赠及留言</a></li>
								<li><a target="_blank" href="./about" class="button special">关于我</a></li>
							</ul>
						</div>
						<div class="divbottom">Powered by yd-org.cn(C哥)</div>
					</section>
			</div>
	</body>
</html>