<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>捐赠-C哥的官方网站</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/jz.css">
	<link rel="Shortcut Icon" href="../static/favicon.ico" />
</head>
<body>
<div class="div">
<h4>如果您喜欢本网站请考虑捐赠，有微信、支付宝两种方式，扫码支付固定金额1元。</h4>
<ul>
    <li>
<p>方式一：微信扫码</p>
    <p><img style="width: 200px;height: 200px" src="../static/weixin.png" alt=""></p>
        </li>
    <li>
<p>方式二：支付宝扫码</p>
    <p><img style="width: 200px;height: 200px" src="../static/zhifubao.png" alt=""></p>
    </li>
	    <li>
<p>福利：支付宝扫码领红包</p>
    <p><img style="width: 200px;height: 200px" src="../static/lhb.png" alt=""></p>
    </li>
</ul>
</div>
</body>
</html>