<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功-尼玛bt资源下载网</title>
    <style>
        *{margin: 0;padding: 0;}
        li{
            float: left;
            line-height: 60px;
			margin-right:10px;
        }
    </style>
</head>
<body>
    <div style="height:60px;font-family:微软雅黑;font-size: 20px;font-weight:200;margin: 20px auto 0 10px;padding: 0;">
        <ul style="list-style: none;">
            <li><img width="50px" height="50px" src="../static/ok.png"></li>
            <li>注册成功！正在返回登录页面，<a style='color:#0000FF;' href='./login'>如你的浏览器没有自动跳转请点击这里</a>。</li>
        </ul>
    </div>
    <script type="text/javascript">
				setTimeout("location.href='./login'",3000);
    </script>
</body>
</html>